.wrapper {
  // * {
  //   border: 1px solid red;
  // }
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  .dateAndNum {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid #ddd;
    .date {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        fill: var(--button-bg);
      }
      span {
        font-family: monospace;
        font-size: 12px;
        color: #999;
      }
    }
    .num {
      font-family: monospace;
      font-size: 20px;
      color: #53a867;
    }
  }
}
