.wrapper {
  * {
    outline: 1px solid red;
  }

  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--welcome-bg);
  > header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 66px;
    color: var(--welcome-header-color);
  }
  > main {
    position: relative;
    flex-grow: 1;
    display: flex;
    margin: 32px 16px 80px 16px;
  }
}

/* 淡入/淡出 */
.fade_enter_active,
.fade_leave_active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
  transition: all var(--welcome-transition-time) ease-out;
}

/* 淡入前 */
.fade_enter_from {
  // opacity: 0;
  transform: translate(100vw);
}

/* 淡出后*/
.fade_leave_to {
  // opacity: 0;
  transform: translate(-100vw);
}
