:root {
  --welcome-bg: linear-gradient(180deg, rgba(92, 51, 190, 1) 0%, rgba(143, 76, 215, 1) 100%);
  --welcome-action: rgba(143, 76, 215, 1);
  --welcome-header-color: #d4d4ee;
  --welcome-card-bg: #fff;
  --welcome-action-color: #fff;
  --welcome-transition-time: 0.5s;
  --button-bg: #5c33be;
  --button-text: #fff;
  --button-font-size: 18px;
  --button-h: 48px;
}
